.faq_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.q_and_a {
	display: grid;
	/*border-color: black;
	border-radius: 9px;
	border-width: 2px;
	border-style: solid;*/
	grid-template-rows: min-content 0fr;
	transition: grid-template-rows 500ms;
	margin: 16px;
	align-self: start;
}

.question:hover {
	cursor: pointer;
}

.q_and_a.selected {
	grid-template-rows: min-content 1fr;
}

.question {
	background-color: #de8051;
	color: white;
	font-family: var(--ff-body);
	border-radius: 6px;
	padding: 10px;
}

.answer {
	overflow: hidden;
	background-color: white;
	border-radius: 6px;
}

.answer p {
	margin: 16px;
}

.answer p a:hover {
	text-decoration: underline;
}